devise_autosigninable/.idea/.name
devise_autosigninable/.idea/devise_autosigninable.iml
devise_autosigninable/.idea/encodings.xml
devise_autosigninable/.idea/misc.xml
devise_autosigninable/.idea/modules.xml
devise_autosigninable/.idea/vcs.xml
devise_autosigninable/.idea/workspace.xml
test/rails2/.idea/.generators
test/rails2/.idea/.name
test/rails2/.idea/.rakeTasks
test/rails2/.idea/dataSources.ids
test/rails2/.idea/dataSources.xml
test/rails2/.idea/encodings.xml
test/rails2/.idea/misc.xml
test/rails2/.idea/modules.xml
test/rails2/.idea/rails_app.iml
test/rails2/.idea/vcs.xml
test/rails2/.idea/workspace.xml